<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
</head>

<body>
    <div id="background1">
        <div id="background2"> </div>
        <div id="background3"> </div>
        <div id="mainKaBaap">


            <div onclick="doThis()" id="wind2">
                <div id="info2">

                    <label>Enter a Name : </label>
                    <input type="text" autocomplete="off">
                    <label>Enter a Number: </label>
                    <input autocomplete="off" type="number" pattern="[0-9]{10}" title="123-4567-890">
                    <button id="save" onclick="save(1,'','')" type="button">Save</button>
                </div>
            </div>

            <div id="mainWind">
                <div id="header">
                    <div id="profile">
                        <div onclick="funcProf()" id="profDiv">
                            <img src="/images/prof1 (2).png">
                        </div>
                        <div id="myInfo">
                            <p>Welcome <%= a %></p>
                        </div>
                        <div id="addFrnd0"> <img id="addFrnd1" onclick="saveNo()" src="/images/a.jpg"> </div>
                    </div>
                    <div id="contactInfo">
                        <div id="yourSelf">
                            <img class="yourImg">
                            <p></p>
                            <div id="yourSelfChild">
                                <div onclick="sendSomething()">
                                    <img src="/images/oip.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sendSomeMed">
                    <div id="send1Div">
                        <img onclick="selectPV('takeit1')" title="Photos and Videos" src="/images/fileManage.png">
                        <input type="file" style="display: none;" id="input1a" onchange="sendThisFiles()" multiple>
                        <img onclick="selectPV('takeit2')" title="Documents" src="/images/circle-cropped.png">
                        <img title="Contacts" onclick="sendTheContacts(1)" src="/images/contacts.png">
                    </div>
                </div>
                <div id="mainCont">
                    <div id="myProfile">
                        <div class="div1"></div>
                        <div id="myImage44">
                            <div id="options44">
                                <p onclick="showThis()">View photo</p>
                                <p>Take photo</p>
                                <!-- to upload a profile picture -->
                                <input id="fileSel" accept="image/png, image/jpeg, image/jpg" onchange="uploadIt()"
                                    type="file" style="display: none;">
                                <p>Upload photo</p>
                                <p onclick="deleteThis()">Remove photo</p>
                            </div>
                            <div id="myImg44">
                                <img src="/images/prof1 (2).png">
                            </div>
                        </div>
                        <form action="http://localhost:3000/logout" method="GET">
                            <div id="itMain">
                                <div class="butDiv"><button onclick="impBut()">LogOut</button></div>
                            </div>
                        </form>
                    </div> <!-- your profile -->
                    <div id="contacts">
                        <div id="toTake">
                            <input type="text" placeholder="Search a contact">
                            <img src="/images/b.png">
                        </div>
                        <div id="allChats">
                        </div>
                    </div>
                    <div id="Previews">
                        <div id="prev3">
                            <div id="prev3D">
                            </div>
                            <img onclick="finallySend()" src="/images/send.png">
                        </div>
                        <!-- <div id="prev2"> </div> -->
                        <div id="prev1">
                            <!-- <div id='prevDiv1'>
                                <a> <img onclick="leftClick()" src="/images/arrow.png"> </a>
                            </div> -->
                            <div id="prevDiv2">
                            </div>
                            <!-- <div id='prevDiv3'>
                                <a> <img onclick="rightClick()" src="/images/arrow.png"> </a>
                            </div> -->
                        </div>
                        <div id="prev4">
                            <p>Preview</p>
                            <img onclick="closeIt()" src="/images/cross1.png">
                        </div>
                    </div>
                    <div onclick="hideIt()" id="messages">
                        <div id="sendIt">
                            <input id="inpMsgy" onkeyup="check5it()" placeholder="Type a message">
                            <img title="schedule message" onclick="scheduleMssg()" src="/images/timerSend.png">
                            <img title="send message" onclick="sendIt(1,'none','none')" src="/images/send.png">
                        </div>
                        <!-- <div id="messagesSent">

                        </div> -->
                    </div>
                    <div id="sideProfile">
                        <div id="sidePopa">
                            <div id="urImg">
                                <div id="urImg1">
                                    <img src="/images/prof1 (2).png">
                                </div>
                                <div id="nameAndNum">
                                    <label>About and Phone number</label>
                                    <hr>
                                    <P></P>
                                    <p></p>
                                </div>
                            </div>

                            <div id="urFeatures"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(din.ind == 0) { %>
        <div id="popup">
            <div id="insidePop">
                <div id="div1">
                    <label class="lab1">First Name:</label><input type="text">
                </div>
                <div id="div2">
                    <label>Last Name:</label><input type="text">
                </div><br>
                <span onclick="butt()" id="butt">Submit</span>
            </div>
        </div>
        <% } %>
        <div id="popup1">
            <div id="insidePop1">
                <div id="toBlockit1">
                    <div id="personal0" class="personalSame">
                        <img src="/images/prof1 (1).png">
                        <p>asdfsdfsdaf</p>
                    </div>
                    <div id="crossPop1">
                        <img onclick="closeThis()" src="/images/cross.png">
                    </div>
                    <div onclick="downloadThis1()" id="download">
                        <a href="" download><img src="/images/download.png"></a>
                    </div>
                </div>
                <img class="lastRTY" src="/images/send.png">
            </div>
        </div>
        <div id="popup2">
            <div id="insidePop2">
                <div id="toBlockit2">
                    <div id="personal" class="personalSame">
                        <img src="/images/prof1 (1).png">
                        <p>asdfsdfsdaf</p>
                    </div>
                    <div id="crossPop1">
                        <img onclick="closeThis()" src="/images/cross.png">
                    </div>
                    <div onclick="downloadThis()" id="download1">
                        <a href="" download><img src="/images/download.png"></a>
                    </div>
                </div>
                <img class="lastRTY" src="">
                <div id="allImagesKaPapa"></div>
            </div>
        </div>
        <div id="theWhole">
            <div id="ContactMark">
                <div id="CntctsMrk1">
                    <img onclick="dontSend(1)" src="/images/cross1.png">
                    <p>Send contacts</p>

                </div>
                <div id="CntctsMrk2">
                    <div><img src="/images/b.png"></div>
                    <input onkeyup="DoFocus()" type="text" placeholder="Search...">
                    <div><img src="/images/cross.png"></div>
                </div>
                <div id="CntctsMrk3">
                    <div id="cntDiv">
                        <p>CONTACTS</p>
                    </div>
                    <div></div>
                </div>
                <div id="notVisible">
                    <p></p>
                    <div id="notVDiv" onclick="ContSend()">
                        <img>
                    </div>
                </div>
            </div>
            <div id="finCntcSend">
                <div id="finDiv1" class="osas">
                    <div id="osasA1"><img onclick="backToCntct(1)" src="/images/BackArrow.png"></div>
                    <div id="osasA2">
                        <p></p>
                    </div>
                </div>
                <div id="finDiv2"></div>
                <div id="finDiv3" class="osas">
                    <div id="notVDiv2">
                        <img onclick="sendingConts()" src="/images/sendWhite.png">
                    </div>
                </div>
            </div>
            <div id="viewRecContacts">
                <div class="osas" id="headerOfRecConts">
                    <div class="osasA1">
                        <img src="/images/cross1.png">
                    </div>
                    <div class="osasA2">
                        <p>View contact</p>
                    </div>
                </div>
                <div class="subDivA1" id="nameAndImg">
                    <img>
                    <p></p>
                </div>
                <div id="NumberAndMssg">
                    <p class="subA2P1"></p>
                    <img src="/images/mssgIcon.png">
                </div>
                <p class="subA2P2">Mobile</p>
            </div>
            <div id="wholeDaT">
                <img onclick="backToFin()" src="/images/BackArrow.png">
                <div id="gaty1">
                    <!-- data and time should be manually designed and should be seperated -->
                    <input id="dateTimeLoc" type='datetime-local'>
                </div>
                <div id="gaty2">
                    <img onclick="setTimeDate()" src="/images/timerSend.png">
                </div>
            </div>
        </div>
    </div>

</body>

</html>